SLACK_BOT_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=...
MM_TOKEN=your_mattermost_personal_access_token
MM_URL=https://your.mattermost.com (without trailing slash)
SLACK_CHANNEL_ID=C0123456789
MM_CHANNEL_ID=abcde12345
